* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: RTWSYueRoudGoG0v1-Regular;
  src: url("fonts/RTWSYueRoudGoG0v1-Regular.ttf");
}

body {
  background-color: #efefef;
  font-family: RTWSYueRoudGoG0v1-Regular;
  color: #212121;
}

.personalInfo {
  width: 30em;
  margin: 0 auto;
  margin-top: 3em;
  padding: 2em;
  box-sizing: border-box;
  border-radius: 10%;
  box-shadow:  .7em .7em .7em #bebebe, -.7em -.7em .7em #ffffff;
}

.myPictureContainer {
  width: 20em;
  margin: 0 auto;
}

.myPicture {
  height: 20em;
  width: 20em;
  border-radius: 5%;
}

.text {
  margin-top: 1em;
}

.name {
  text-align: center;
  font-size: 4em;
  line-height: 1em;
}

.extraInfo {
  text-align: center;
  color: #888888;
}

.myWorks {
  margin-top: 5vh;
  text-align: center;
}

.myWorksTitleContainer {
  position: relative;
}

.myWorksTitleDeco {
  height: 3.35em;
  width: 25em;
  margin: 0 auto;
  background-color: aqua;
  position: absolute;
  top: 3em;
  left: calc((100% - 25em) / 2);
  border-radius: 5em;
  z-index: -1;
}

.myWorksTitle {
  width: 4em;
  font-size: 5em;
  margin: 0 auto;
}

.works {
  height: 20em;
  width: 32em;
  margin-top: 1em;
  border-radius: 3%;
}