* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b7fff8;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

.title {
  margin-top: 1em;
  text-align: center;
  font-size: 3em;
}

.container {
  width: 70vw;
  margin-left: calc((100% - 70vw) / 2);
  margin-top: 1.7em;
}

.content {
  height: 10vh;
  width: 70vw;
  background-color: #b7fff8;
  margin-top: 1em;
  /* Neumorphism */
  border-radius: 39px;
  background: linear-gradient(145deg, #c4ffff, #a5e6df);
  box-shadow:  7px 7px 14px #94cfc9,
             -7px -7px 14px #daffff;
}

.content:nth-child(1) {
  margin-top: 0;
}

.content:hover {
  cursor: pointer;
}

.content:hover {
  border-radius: 39px;
  background: linear-gradient(145deg, #a5e6df, #c4ffff);
  box-shadow:  7px 7px 14px #94cfc9,
               -7px -7px 14px #daffff;
}

.date {
  line-height: 10vh;
  font-size: 2em;
  text-align: center;
}